.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #4c6c82;
  height: 100px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.climaCard {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}
.App-title {
  font-size: 1.5em;
}

body {
  background-color: #a0bbc7 !important;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
